<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Biblioteca{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header-top">
            <h1>Sistema de Reservas de Livros</h1>

            {% if session.get('usuario') %}
            <div class="user-info">
                <span>{{ session['usuario'] }}</span>
                <a href="{{ url_for('logout') }}">Sair</a>
            </div>
            {% endif %}
        </div>
        
        <nav class="header-nav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('livros_view') }}">Livros</a>
            <a href="{{ url_for('historico_view') }}">Histórico</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>